a {
  font-size: 20px;
}

body {
  font-color: #71706E;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 16px;
}

.background_blue {
  background-color: #e6f5ff;
}

.blog_image {
  width: 75%;
}

.break {
  padding-bottom: 5vh;
}

.card:hover {
  box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .15);
}

.card-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.container_blue {
  background-color: #e6f5ff;
  margin: 4vh 10vw;
}

.font_18 {
  font-size: 18px;
  font-weight: normal;
}

.font_24 {
  font-size: 24px;
  font-weight: normal;
}

.font_30 {
  font-size: 30px;
  font-weight: normal;
}

.font_40 {
  font-size: 40px;
  font-weight: normal;
}

.font_60 {
  font-size: 60px;
  font-weight: normal;
}

.font_josefin_slab {
  color: #000000;
  font-family: "Josefin Slab", serif;
}

.font_marck_script {
  color: #000000;
  font-family: "Marck Script", serif;
  font-size: 60px;
  text-align: center;
}

.font_playfair_display {
  color: #000000;
  font-family: "Playfair Display", serif;
}

.footer {
  background-color: #e6f5ff;
  min-height: 25vh;
}

.link {
  color: #999999 ; 
  text-decoration: none;
}

.link:hover {
  color: #000000;
}

.nav-link { 
  font-size: 22px !important;
}

.material-symbols-outlined {
  vertical-align: sub;
}

.square {
    position: relative;
}

.square_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

@media only screen and (min-width: 768px){
  .padding_right {
    padding-right: 14px;
  }
}

