a {
  font-size: 20px;
}

body {
  font-color: #71706E;
  font-family: "Open Sans", arial, sans-serif;
}

h1 {
  color: #000000;
  font-family: "Josefin Slab", serif;
  font-size: 60px;
}

p {
  font-size: 16px;
}

.blog_image {
  width: 75%;
}

.break {
  padding-bottom: 5vh;
}

.card:hover {
  box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .15);
}

.card-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.container_blue {
  background-color: #e6f5ff;
  margin: 4vh 10vw;
}

.container_locations {
  padding: 10vh 0vw;
}

.footer {
  background-color: #e6f5ff;
  min-height: 25vh;
}

.large_text {
  font-size: 24px;
  font-weight: normal;
}

.location_text {
  font-size: 30px;
}

.link {
  color: #999999 ; 
  text-decoration: none;
}

.link:hover {
  color: #000000;
}

.locations_background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.25)) , url("images/locations.jpg");
  background-position: right center;
  background-size: cover;
}

.nav-link { 
  font-size: 22px !important;
}

.marck_script {
  color: #000000;
  font-family: "Marck Script", serif;
  font-size: 60px;
  text-align: center;
}

.material-symbols-outlined {
  vertical-align: sub;
}

.playfair_display {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 40px;
}

.qwitcher_grypen {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 40px;
}

.small_text {
  font-size: 18px;
}

.square {
    position: relative;
}

.square_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

@media only screen and (min-width: 768px){
  .padding_right {
    padding-right: 14px;
  }
}

@media only screen and (min-width: 768px){
  .container_responsive {
      padding: 10vh 15vw;
  }
}

